global:
  env:
    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-secret
          key: secret-key
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-secret
          key: postgresql-password

authentik:
    error_reporting:
        enabled: false

server:
    replicas: 1
    ingress:
        enabled: false
    service:
        type: ClusterIP

worker:
    replicas: 1

postgresql:
    enabled: true
    auth:
        username: authentik
        database: authentik
        password: "hRDNmhBWz1MILO4QqAlo+FwL81PyLZ3c"
    primary:
      persistence:
        enabled: true
        storageClass: longhorn
        size: 8Gi

redis:
    enabled: true
    master:
      persistence:
        enabled: true
        storageClass: longhorn
        size: 2Gi
