deploymentMode: SingleBinary

global:
  dnsService: "rke2-coredns-rke2-coredns"
  dnsNamespace: "kube-system"

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: longhorn
    size: 20Gi

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  # Important: Loki 3.0+ requires a schema config
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
