prometheus:
  service:
    type: ClusterIP
grafana:
  service:
    type: LoadBalancer
  admin:
    existingSecret: ""
  persistence:
    enabled: true
    type: pvc
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    finalizers:
      - kubernetes.io/pvc-protection
  envFromSecrets:
    - name: grafana-oidc-secret
      optional: false
  grafana.ini:
    server:
      root_url: https://grafana.hwcopeland.net
    auth:
      disable_login_form: true
    auth.generic_oauth:
      enabled: true
      name: Authentik
      allow_sign_up: true
      allow_assign_grafana_admin: true
      client_id: ${client-id}
      client_secret: ${client-secret}
      scopes: openid email profile groups
      auth_url: https://auth.hwcopeland.net/application/o/authorize/
      token_url: https://auth.hwcopeland.net/application/o/token/
      api_url: https://auth.hwcopeland.net/application/o/userinfo/
      login_attribute_path: preferred_username
      name_attribute_path: name
      email_attribute_path: email
      groups_attribute_path: groups
      role_attribute_strict: false
      role_attribute_path: "contains(groups[*], 'Grafana Admins') && 'GrafanaAdmin' || 'Viewer'"
      use_pkce: true
      use_refresh_token: true
      auto_login: true
