prometheus:
  service:
    type: ClusterIP
grafana:
  service:
    type: LoadBalancer
  adminUser: hwcopeland
  persistence:
    enabled: true
    type: pvc
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    finalizers:
      - kubernetes.io/pvc-protection
